.NavbarItems{
    background: linear-gradient(90deg,rgb(169, 64, 179) 0%, rgb(250, 5, 160) 100%);
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0% 30px;
    width: 100%;
    border-radius: 5px;
}

.nav-log-toggle{
    
    align-items: center;
    display: flex;
}
.navbar-logo{
    
    width: 100;
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}
.nav-menu{
    padding: 5px 20px;
    width: 100%;
    align-items: center;

}
.nav-links{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-size: 20px;
    padding: 5px 10px;
    font-weight: 600;
    float: left;
    border-radius: 5px;
}
.nav-links:hover{
 
    border: 1px solid white;
    color: rgb(72, 19, 100) ;
    background-color: rgb(255, 255, 255) ;
}

.nav-link_log{
    text-decoration: none;
    color: rgb(255, 255, 255)  ;
    margin-right: 30px;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 600;
    float: right;
    border: 1px solid white;
}
.nav-link_log:hover{
    color: rgb(72, 19, 100) ;
    background-color: rgb(255, 255, 255) ;
}
.menu-icon{
    display: none;
}

@media screen and  (max-width: 920px)
{
    .NavbarItems{
        padding: 0px;
    }
.nav-links{
    font-size: 18px;
}}

@media screen and  (max-width: 600px)
{
.nav-links{
    font-size: 10px;
    margin-right: 15px;
}

.nav-link{
    font-size: 10px;
    margin-right: 15px;

}

}

@media screen and  (max-width: 600px)
{
    .NavbarItems{
        height: 70px;
    }
    .navbar-logo{
        width: 70;
        margin-left:10px;
    }
    
.nav-links{
    font-size: 12px;
    margin-right: 5px;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-weight: 400w;
    border-radius: 5px;
}

.nav-link_log{
    text-decoration: none;
    font-size: 12px;
    margin-right: 5px;
    font-weight: 400w;
    border-radius: 5px;
}
.NavbarItems{
    padding: 0px;
}

}
@media screen and  (max-width: 500px)
{
    
.nav-links{
    font-size: 12px;
}}
@media screen and  (max-width: 450px)
{
    .navbar-logo{
        width: 50;
        margin-left:10px;
    }
     .nav-menu{
         display: flex;
         flex-direction: column;
         position: absolute;
         left: -150%;
         top: 80px;
         opacity: 1;
         transition: all 0.5s ease;
     }
     .nav-menu.active{
         background-color: #bd00e3;
         left: 0;
         position: absolute;
         opacity: 1;
         transition: all 0.5s ease;
         z-index: 1;
         width: 100%;
     }
     .nav-links 
     {
         text-align: center;
         width: 100%;
         padding: 1rem 0rem;
         display: table;
         font-weight: 700w;

     }
     .nav-link_log
     {
         background-color: transparent;
         text-align: center;
         width: 100%;
         font-weight: 700w;
         display: table;
         padding: 1rem 0rem;
         border: 1px solid rgb(227, 61, 236);

     }
     .nav-link_log:hover
     {
         color: rgb(183, 26, 240);
        background-color: transparent;
     }
    
     .nav-links:hover
     {
         color: rgb(58, 45, 117);
        background-color: transparent;
     }
     .menu-icon{
         display: block;
         position: absolute;
         top: 0;
         right: 0;
         margin-top: 10px;
         margin-right: 10px;
         font-size: 1.8rem;
         cursor: pointer;
         color: rgb(255, 255, 255);
         width: 70px;
         height: 60px;
         
        }


}